{deps,
    [
    {lager, "1.*", {git, "git://github.com/basho/lager", {tag, "1.2.1"}}},
    {giza, "0.1",
        {git, "git://github.com/Motiejus/giza.git", {tag, "0.1"}}},
    {emysql, ".*",
        {git, "git://github.com/Eonblast/Emysql.git", {branch, "master"}}},
    {basho_bench, ".*",
        {git, "git://github.com/basho/basho_bench.git", {branch, "master"}}}
    ]
}.

{escript_incl_apps, [lager, getopt, bear, folsom, ibrowse, riakc, mochiweb,
    protobuffs, emysql, basho_bench, giza]}.

{erl_opts, [{src_dirs, [src]},
           {parse_transform, lager_transform}]}.
